body {
  margin: 0;
  padding: 0;
  background-color: #F6CFCA;
  overflow: hidden; /* Menghindari scroll */
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw; /* Mengisi lebar viewport */
  height: 100vh; /* Mengisi tinggi viewport */
  z-index: -1; /* Menempatkan canvas di bawah konten */
}

[type="range"] {
  display: none;
}
